@model IEnumerable<WebNewsBs.Models.Category_Service>
@{
    ViewBag.Title = "Index";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Danh sách phân loại dịch vụ</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Mô tả ngắn</th>
                    <th>Ngày tạo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.type_service</td>
                        <td>@item.short_description</td>
                        <td>
                            @item.create_date
                        </td>
                        <td>
                            <a class="btn" href="/admin/categoryservices/edit/@item.cate_service_id"><i class="fa fa-edit fa-fw"></i></a>
                            <a class="btn" href="/admin/categoryservices/delete/@item.cate_service_id"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                }

            </tbody>

        </table>
    </div>
    <!-- /.card-body -->
</div>

