
@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- PAGE TITLE
================================================== -->
<section class="page-title-section top-position bg-primary">
    <div class="container z-index-1 position-relative">
        <div class="row text-center">
            <div class="col-md-12">
                <h1>Team</h1>
            </div>
            <div class="col-md-12">
                <ul class="mb-0 ps-0">
                    <li><a href="/">Trang chủ</a></li>
                    <li><a class="dot-divider"></a></li>
                    <li><a href="#!">Team</a></li>
                </ul>
            </div>
        </div>
    </div>
    <img src="~/img/banner/page-title2.png" class="position-absolute top-0 start-0" alt="...">
    <img src="~/img/banner/page-title1.png" class="position-absolute bottom-0 end-0" alt="...">
    <div class="home_bubble">
        <div class="square-shape2"></div>
        <div class="bubble b_three"></div>
        <div class="square-shape1 d-none d-sm-block"></div>
        <div class="bubble b_six d-none d-sm-block"></div>
    </div>
</section>

<!-- TEAM
================================================== -->
<section>
    <div class="container">
        <div class="section-heading mb-2-3 mb-lg-2-9 wow fadeInDown" data-wow-delay=".2s">
            <h6 class="text-secondary"><span>Team của chúng tôi</span></h6>
            <h2 class="mb-0 h1">Gặp gỡ những người đặc biệt</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-1-6 mb-md-1-9 wow fadeInUp" data-wow-delay=".2s">
                <div class="single-team-member">
                    <div class="image">
                        <img src="~/img/team/team3.jpg" alt="...">
                        <ul class="team-social-link">
                            <li>
                                <a class="pink" href="#!"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a class="pink" href="#!"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a class="pink" href="#!"><i class="fab fa-youtube"></i></a>
                            </li>
                            <li>
                                <a class="pink" href="#!"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3 class="h5 mb-1">Thai Han</h3>
                        <p class="text-dark font-weight-600 mb-0 display-30"></p>
                        <i class="fas fa-share-alt pink"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-1-6 mb-md-1-9 wow fadeInUp" data-wow-delay=".4s">
                <div class="single-team-member">
                    <div class="image">
                        <img src="~/img/team/team2.jpg" alt="...">
                        <ul class="team-social-link">
                            <li>
                                <a class="purple" href="#!"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a class="purple" href="#!"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a class="purple" href="#!"><i class="fab fa-youtube"></i></a>
                            </li>
                            <li>
                                <a class="purple" href="#!"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3 class="h5 mb-1">Tuan Anh Pham</h3>
                        <p class="text-dark font-weight-600 mb-0 display-30"></p>
                        <i class="fas fa-share-alt purple"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-1-6 mb-md-1-9 wow fadeInUp" data-wow-delay=".6s">
                <div class="single-team-member">
                    <div class="image">
                        <img src="~/img/team/team1.jpg" alt="...">
                        <ul class="team-social-link">
                            <li>
                                <a class="blue" href="#!"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a class="blue" href="#!"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a class="blue" href="#!"><i class="fab fa-youtube"></i></a>
                            </li>
                            <li class="mr-0">
                                <a class="blue" href="#!"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3 class="h5 mb-1">Tran Ninh</h3>
                        <p class="text-dark font-weight-600 mb-0 display-30"> </p>
                        <i class="fas fa-share-alt blue"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-1-6 mb-md-1-9 wow fadeInUp" data-wow-delay=".8s">
                <div class="single-team-member">
                    <div class="image">
                        <img src="~/img/team/team4.jpg" alt="...">
                        <ul class="team-social-link">
                            <li>
                                <a class="yellow" href="#!"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a class="yellow" href="#!"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a class="yellow" href="#!"><i class="fab fa-youtube"></i></a>
                            </li>
                            <li>
                                <a class="yellow" href="#!"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3 class="h5 mb-1">Kim Cúc</h3>
                        <p class="text-dark font-weight-600 mb-0 display-30"> </p>
                        <i class="fas fa-share-alt yellow"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-1-6 mb-md-1-9 mb-lg-0 wow fadeInUp" data-wow-delay="1s">
                <div class="single-team-member">
                    <div class="image">
                        <img src="~/img/team/team5.jpg" alt="...">
                        <ul class="team-social-link">
                            <li>
                                <a class="dark-pink" href="#!"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a class="dark-pink" href="#!"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a class="dark-pink" href="#!"><i class="fab fa-youtube"></i></a>
                            </li>
                            <li>
                                <a class="dark-pink" href="#!"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3 class="h5 mb-1">Anh Danh </h3>
                        <p class="text-dark font-weight-600 mb-0 display-30"> </p>
                        <i class="fas fa-share-alt dark-pink"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-1-6 mb-md-1-9 mb-lg-0 wow fadeInUp" data-wow-delay="1.2s">
                <div class="single-team-member">
                    <div class="image">
                        <img src="~/img/team/team6.jpg" alt="...">
                        <ul class="team-social-link">
                            <li>
                                <a class="light-blue" href="#!"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a class="light-blue" href="#!"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a class="light-blue" href="#!"><i class="fab fa-youtube"></i></a>
                            </li>
                            <li>
                                <a class="light-blue" href="#!"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3 class="h5 mb-1">Ny Tuấn Anh</h3>
                        <p class="text-dark font-weight-600 mb-0 display-30"> </p>
                        <i class="fas fa-share-alt light-blue"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-1-6 mb-md-0 wow fadeInUp" data-wow-delay="1.4s">
                <div class="single-team-member">
                    <div class="image">
                        <img src="~/img/team/team7.jpg" alt="...">
                        <ul class="team-social-link">
                            <li>
                                <a class="green" href="#!"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a class="green" href="#!"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a class="green" href="#!"><i class="fab fa-youtube"></i></a>
                            </li>
                            <li>
                                <a class="green" href="#!"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3 class="h5 mb-1">Trinh Py</h3>
                        <p class="text-dark font-weight-600 mb-0 display-30"> </p>
                        <a href="#!"><i class="fas fa-share-alt green"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="1.6s">
                <div class="single-team-member">
                    <div class="image">
                        <img src="~/img/team/team8.jpg" alt="...">
                        <ul class="team-social-link">
                            <li>
                                <a class="dark-blue" href="#!"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a class="dark-blue" href="#!"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a class="dark-blue" href="#!"><i class="fab fa-youtube"></i></a>
                            </li>
                            <li class="mr-0">
                                <a class="dark-blue" href="#!"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3 class="h5 mb-1"> Bé Đần</h3>
                        <p class="text-dark font-weight-600 mb-0 display-30"> </p>
                        <i class="fas fa-share-alt dark-blue"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
